#table {
    width: 100%;
    height: 100%;
    display: table;
    clear: both
}

.column {
    float: left;
    width: 33.3%;
    height: 100%;
    margin: auto;
    overflow: none;
}

.unifiedSchema {
    background-color: #CDE2F4;
    border: 5px solid #DDA448;
}

.sectionHeaders {
    width: 100%;
    height: 1rem;
    text-align: center;
    margin-bottom: 1%;
    padding-bottom: 3%;
    padding-top: 1%;
    border-bottom: 5px solid #DDA448;
}

.tableHead {
    font-size: var(--main-title-text-font-size);
}

.tableBody {
    font-size: var(--main-sub-text-font-size);
}

:root {
    --main-sub-text-font-size: calc(0.4em + 0.4vw);
    --main-title-text-font-size: calc(0.5em + 0.5vw);
  }