button {
    width: 20%;
    height: 5%;
    margin-top: 5%;
    margin-left: 10%;
}

#what-i-can-make {
    position: relative;
    width: 90%;
    height: 81%;
    margin: auto;
    margin-top: 5%;
    font-size: var(--main-sub-text-font-size);
    display: block;
    overflow: scroll;
}

#what-i-can-make-inner {
    overflow: scroll;
    position: absolute;
    padding-left: 10%;
}