#roundTimer {
    float: left;
    top: 30px;
    right: 50px;
    color: black;
    font-size: var(--main-title-text-font-size);
    margin-left: 2%;
    margin-top: 6%;
}

#timercontainer {
    width: 75%;
    height: 8%;
    margin: auto;
    margin-top: 5%;
}

#roundTimerHeader {
    float: left;
    top: 30px;
    right: 50px;
    color: black;
    font-size: var(--main-title-text-font-size);
    margin-left: 10%;
    margin-top: 6%;
}

#have-need {
    width: 75%;
    height: 25%;
    margin: auto;
    margin-top: 5%;
    overflow: scroll;
}

#utility-ui {
    width: 75%;
    height: 47%;
    margin: auto;
    margin-top: 6%;
    overflow: scroll;
}
