#what-i-can-make {
    position: relative;
    width: 75%;
    height: 91.5%;
    margin: auto;
    margin-top: 5%;
    font-size: var(--main-sub-text-font-size);
    display: block;
    overflow: hidden;
}

#graph-container {
    height: 19%;
    width: 100%;
    margin-bottom: 5%;
    display: none;
}

.graph {
    font-size: var(--main-sub-text-font-size);
    width: 45% !important;
    height: 50% !important;
    margin-left: 3%;
    float: left;
    position: relative;
}

.graph-info {
    height: 12%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.axis-text {
    font-size: 12px;
    margin:10px;
}

#what-i-can-make-inner {
    position: relative;
    overflow: auto; 
    position: absolute;
    padding-left: 6%;
    height: 63%;
    width: 90%;
}

button {
    width: 15%;
    height: 5%;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 2%;
    background-color: #BBCEDE;
    border: 1px solid #DDA448;
}

.allocationBody {
    width: 140%;
    max-width: 450px;
}

.allocationElem {
    font-size: var(--main-sub-text-font-size);;
    width: 45%;
}

.allocationColumn {
    float: left;
    width: 50%;
}