.avatar {
    width: 30%;
    height: 20%;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
    overflow: hidden;
    border: 1px solid black;
    display: none;
}

#roundTimer {
    float: left;
    top: 30px;
    right: 50px;
    color: black;
    font-size: var(--main-title-text-font-size);
    margin-left: 2%;
    margin-top: 5%;
}

#money {
    float: left;
    top: 30px;
    right: 50px;
    color: black;
    font-size: var(--main-title-text-font-size);
    margin-left: 2%;
    margin-top: 5%;
}

#timercontainer {
    width: 75%;
    height: 8%;
    min-height: 70px;
    margin: auto;
    margin-top: 5%;
}

.systemHeader {
    float: left;
    top: 30px;
    right: 50px;
    color: black;
    font-size: var(--main-title-text-font-size);
    margin-left: 10%;
    margin-top: 5%;
}

/* OFFER DESIGN */
#offer-ui {
    width: 75%;
    height: 30%;
    margin: auto;
    margin-top: 5%;
    overflow: scroll;
}

#have-need {
    width: 75%;
    height: 30%;
    margin: auto;
    margin-top: 5%;
    overflow: scroll;
}

#utility-ui {
    display: none;
    width: 75%;
    height: 45%;
    margin: auto;
    margin-top: 5%;
    overflow: none;
}

#roundButtonContainer {
    width: 75%;
    height: 8%;
    margin: auto;
    margin-top: 5%;
}

.roundButton {
    float: none;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    font-size: var(--main-sub-text-font-size);
}